@{
    ViewData["Title"] = "Home Page";
}

<script>
    var currentSubscribe;

        $(function () {
            // Declare a proxy to reference the hub. 
            var loanHub = $.connection.loanHub;
            // Create a function that the hub can call to broadcast messages.
            loanHub.client.broadcastMessage = function (message) {
                var encodedMessage = $('<div />').text(message).html();
                // Add the message to the page. 
                $('#discussion').append('<li>' + encodedMessage + '</li>');
            };

            // Start the connection.
            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    // Call the Send method on the hub. 
                    loanHub.server.send(currentSubscribe, $('#message').val());
                    // Clear text box and reset focus for next comment. 
                    $('#message').val('').focus();
                });
                $('#sendSubscribeLoan').click(function() {
                    currentSubscribe = $('#subscribeLoan').val();
                    $('#loan').text(currentSubscribe);
                    $('#subscribeLoan').val('');
                    loanHub.server.joinLoan(currentSubscribe);
                });
                $('#lookupPerson').click(function() {
                    var id = $('#personId').val();
                    $('#personId').val('');

                    loanHub.server.lookupPerson(id)
                        .done(function(person) {
                            console.log(person);
                            $('#personName').text(person.Name);
                        })
                        .fail(function() {
                            console.log('Request failed');
                        });
                });
            });

        });
</script>

<h1 id="loan"></h1>

<input type="text" id="subscribeLoan"> <button id="sendSubscribeLoan">Subscribe</button>
<br/><br/>
<input type="text" id="message"> <button id="sendmessage">Send</button>

<div id="discussion"></div>

<br/><br/>
<input type="text" id="personId"> <button id="lookupPerson">Lookup Person</button>
<br/>
<div id="personName"></div>