@{
    ViewData["Title"] = "Home Page";
}

<script>
    var currentSubscribe;

        $(function () {
            // Declare a proxy to reference the hub. 
            var chat = $.connection.loanHub;
            // Create a function that the hub can call to broadcast messages.
            chat.client.broadcastMessage = function (message) {
                var encodedMessage = $('<div />').text(message).html();
                // Add the message to the page. 
                $('#discussion').append('<li>' + encodedMessage + '</li>');
            };

            // Start the connection.
            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    // Call the Send method on the hub. 
                    chat.server.send(currentSubscribe, $('#message').val());
                    // Clear text box and reset focus for next comment. 
                    $('#message').val('').focus();
                });
                $('#sendSubscribeLoan').click(function() {
                    currentSubscribe = $('#subscribeLoan').val();
                    $('#loan').text(currentSubscribe);
                    $('#subscribeLoan').val('');
                    chat.server.joinLoan(currentSubscribe);
                });
            });

        });
</script>

<h1 id="loan"></h1>

<input type="test" id="subscribeLoan"> <button id="sendSubscribeLoan">Subscribe</button>
<br/><br/>
<input type="text" id="message"> <button id="sendmessage">Send</button>

<div id="discussion"></div>
